body,html {
  margin: 0;
  padding: 0;
  background: #0b0530;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
}

.appDiv {
  display: contents;
}

.ptdXHeader {
  color: #a5fd02;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
  padding: .5rem;
  margin: 0;
  background-color: #0b0530;
  border-width: .025rem .025rem 0 .025rem ;
  border-color: #fd0273;
  border-style: solid;
}


.wrapDiv {
  padding-top: 1rem;
  display: flex;
  border: .08rem solid #fd0273;
  background: linear-gradient(#fd0273, #fd0273) no-repeat center/.04rem 100%;
}


.filesLoadListDiv {
  height: 100%;
  width: 50%;
}


.folderSelectionBtn {
  display: block;
  margin: auto;
  cursor: pointer;
  width: 75%;
  padding: .5rem;
  background: #0b0530;
  border: .025rem solid #fd0273;
  color: #a5fd02;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.3;
}

.folderSelectionBtn:not(:disabled):hover {
  transform: scale(1.05);
}

.folderSelectionBtn:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.25rem);
}

#clearFolder {
  margin-bottom: 2rem;
}


.fileList {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  color: #FFFFE8;
  padding-right: .5rem;
}

li {
  margin: .25rem;
  padding: .125rem;
  margin-bottom: .5rem;
  word-wrap: break-word;
}






.xmlFormDiv {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;
}

.editFilesDiv {
  margin: 0;
  padding: 0;
}

.inputName{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: .5rem;
}

input {
  height: 2rem;
  width: 75%;
  background: #0b0530;
  border: .025rem solid #fd0273;
  box-sizing: border-box;
}

input::placeholder {
  font-weight: 100;
  color: #a5fd02;
  font-size: .9rem;
}

select{
  height: 1.75rem;
  width: 75%;
  font-size: .9rem;
  color: #a5fd02;
  border: .025rem solid #fd0273;
  background-color: #0b0530;
  box-sizing: border-box;
}

.bottomBtnsDiv {
  text-align: center;
  margin: auto;
  margin-bottom: 1.5rem;
}

.bottomBtns {
  margin: .5rem;
  margin-top: .5rem;
  background: #0b0530;
  border: .025rem solid #fd0273;
  color: #a5fd02;
  font-size: .8rem;
  cursor: pointer;
  line-height: 1.3;
  padding: .3rem 1rem;
}

.bottomBtns:not(:disabled):hover {
  transform: scale(1.15);
}

.bottomBtns:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.25rem);
}





