body,html {
  margin: 0;
  padding: 0;
  background: #1c1c1c;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
}

:root {
  --darkGrey: #1c1c1c;
  --pink: #fa0064;
  --lightGreyBorder: #585454;
  --lightTxt: #FFFFE8;
  --lightGreyBg: #303030;
  --blue: #02fdd7;
  --title:rgb(193, 194, 193);
}

::selection {
  background: var(--lightGreyBorder);
  color: var(--blue);
}

@font-face {
  font-family: 'NintendoNES';
  src: url('./public/fonts/nintendo-nes-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.nes-font {
  font-family: 'NintendoNES', monospace;
}


.titleBar {
  padding: .25rem 0 0 1rem;
  height: 2rem;
  background-color: var(--darkGrey);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: var(--title);
  -webkit-app-region: drag; /* Enables dragging of the window in Electron */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeInElement {
  opacity: 100;
  animation: fadeIn .5s ease-in;
}
header {
  display: flex;
  padding: .5rem;
  border-radius: .5rem .5rem 0 0;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: .05rem .15rem .05rem .15rem;
  background: linear-gradient(var(--pink),var(--lightGreyBorder));
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
}

.headerBtns {
  margin-left: auto;
  margin-right: .75rem;
  display: flex;
  align-items: center;
  z-index: 2;
}

fieldset{ 
  padding: 0%;
  margin: 0%;
  border: none;
  z-index: 2;
}

.formFieldset {
  padding: 0;
} 

legend {
  padding: .5rem 1rem .5rem 1rem;
  font-size: 0rem;
}

.filesFormWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 0 ;
  position: relative;
  background: linear-gradient(var(--lightGreyBorder), var(--pink)) no-repeat center/.05rem 100%;
  z-index: 1;
}
.filesFormWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 0 .15rem .05rem .15rem;
  background: linear-gradient(var(--lightGreyBorder),var(--pink));
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
}

 .editFilesWrapper {
  display: flex;
 }

 .filesWrapper {
  margin: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}

.formWrapper {
  margin: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}



 /*FileList*/

 .filesBtnWrapper {
  margin: auto;
  padding-left: .8rem;
  display: flex;  
 }

.folderSelectionBtn {
  margin: .25rem;
  padding: .25rem .75rem;
  line-height: 1.3;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  font-size: .75rem;
  color: var(--lightTxt);
  background: var(--lightGreyBg);
  border: .025rem solid var(--lightGreyBorder);
  cursor: pointer;
  z-index: 2;
}
.folderSelectionBtn:not(:disabled):hover {
  transform: scale(1.05);
}
.folderSelectionBtn:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.05rem);
}

ol {
  margin: 1rem;
  padding: .5rem 0rem .5rem 1.75rem;
  height: 45vh;
  border: solid var(--lightGreyBorder);
  border-width: .025rem;
  background-color: var(--lightGreyBg);
  overflow-y: scroll;
  scrollbar-color: var(--pink) var(--lightGreyBorder);  
}

.loading, .updating {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  font-size: .75rem;
  color: var(--blue);
}

li {
  margin-left: 1rem;
  margin-bottom: .35rem;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  font-size: .8rem;
  color: var(--lightTxt);
  word-wrap: break-word;
  overflow-wrap: break-word
}



/*Form*/
form{
  display: flex;
  flex-direction: column;
}


.formBtnsWrapper {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 1rem .5rem 1rem

}

.btnFormWrapper {
  width: 75%;
  align-items: right;
}

.formBtns {
  margin: .25rem;
  padding: .25rem .75rem;
  align-items: right;
  line-height: 1.3;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  font-size: .75rem;
  color: var(--lightTxt);
  background: var(--lightGreyBg);
  border: .025rem solid var(--lightGreyBorder);
  cursor: pointer;
}
.formBtns:not(:disabled):hover {
  transform: scale(1.05);
}

.formBtns:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.05rem);
}

.fillBtnWrapper{
  position: relative;
  width: 25%;
}


@keyframes pulseshadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 232, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 232, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 232, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 232, 0);
      -moz-box-shadow: 0 0 0 5px rgba(255, 255, 232, 0);
      box-shadow: 0 0 0 5px rgba(255, 255, 232, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 232, 0);
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 232, 0);
      box-shadow: 0 0 0 0 rgba(255, 255, 232, 0);
  }
}
.fillBtn {
  position: absolute;
  left: 0;
  bottom: .25rem;
  font-size: .25rem;
  background-color: transparent;
  color: transparent;
  border: 1.5px solid var(--lightGreyBorder);
  box-shadow: 0 0 0 0 rgb(88 84 84);
  cursor: pointer;
}
.fillBtn:hover {
  animation: pulseshadow 1.5s infinite;
}
[data-title]:hover::after {
  opacity: 1;
    transition: all 0.1s ease 0.25s;
    visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  background-color: transparent;
  color: var(--blue);
  font-size: .9rem;
  position: absolute;
  bottom: 100%;
  left: 125%;
  white-space: nowrap;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: absolute;
}


.inputWrapper {
  margin-bottom: .5rem;
  margin-left: 1rem;
  display: flex;
}

.inputWrapper label {
  margin: .125rem .125rem .125rem .125rem;  
  flex: .17;  /* Label takes up 1 part of the space */
  font-family: 'Segoe UI', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  color: var(--lightTxt);
}

.inputWrapper select, 
.inputWrapper input {
  margin: 0;
  flex: .75; /* Input takes up 2 parts of the space */
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  height: 1.75rem;
  font-size: .85rem;
  color: var(--lightTxt);
  border: .025rem solid var(--lightGreyBorder);
  background-color: var(--lightGreyBg);
  z-index: 2;
}


option {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  color: var(--blue);
  background-color: var(--lightGreyBg);
}



/*Footer*/
footer {
  padding: .75rem;
  display: block;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
  font-size: .9rem;
  color: var(--lightTxt);
  border-radius: 0 0 .5rem .5rem ;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 0 .15rem .05rem .15rem; /* border length  */
  background: linear-gradient(var(--lightGreyBorder),var(--pink));
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
}

.footerText {
  margin-bottom: .7rem;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
        animation-timing-function: ease-in-out;
  }
  50% {
    transform: scale(1.25);
  }
}
.icon {
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: .75rem;
  bottom: .75rem;
  z-index: 2;
}
.icon:hover {
  animation: pulse 2.5s infinite; 
}



/*Modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 1rem;
  width: 50vw;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--darkGrey);
  border: .125rem solid var(--pink);
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem var(--pink);
}

.exitModalBtn {
  position: relative;
  left: 13.5rem;
  cursor: pointer;
  font-size: .75rem;
  color: var(--lightTxt);
  height: 1rem;              
  width: 1rem;                    
  overflow: hidden;         
  border: none;
  cursor: pointer;
  background: none;
 }
 .exitModalBtn::after {
  position: absolute;
  line-height: 0.5;
  top: 0.2rem;
  left: 0.1rem;
  text-indent: 0;
  content: "✖";      
}
 .exitModalBtn:not(:disabled):hover {
  transform: scale(1.5);
}

.exporting {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--blue);
}

.modalH2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--lightTxt);
}

.modalP {
  margin: .5rem;
  padding: 0;
  font-weight: 400;
  font-size: .95rem;
  color: var(--lightTxt);
}

.modalFilePath {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: var(--lightTxt);
  cursor: pointer;
}
.modalFilePath:hover {
  text-decoration: underline;
  color: var(--blue);
}


/*Splash*/
.canvasWrapper {
  height: 93.5vh;
  width: 100vw;
  background-image: radial-gradient(rgb(176, 247, 240),rgb(2, 203, 203),rgb(3, 3, 3));
  z-index: 1;
}

.splash {
  position: fixed;
  display: block;
  z-index: 10;
}
.circleBackground {
  margin: 0;
  padding: 0;
  top: 6.75%;
  left: 25.3%;
  height: 92vh;
  width: 49.4vw;
  border-radius: 50%;
  position: fixed;
  place-items: center;
  background-color: #012538;
  z-index: 2;
}

.splashBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: 500;
  background: transparent;
  color: cyan;
  border: 2px solid cyan;
  padding: 0.5em 1em;
  cursor: pointer;
  z-index: 11;
}
.splashBtn:not(:disabled):hover {
  transform: scale(-1) translateX(50%);
}
.splashBtn:not(:disabled):hover:active {
  transform: scale(1) translateX(-50%);
}

/* Torch Flame OpenGameArt - Flames extracted from Sharm's LPC Fireplace*/
.torch {
  width: 32px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  image-rendering: pixelated;
  animation: torchFlame 1s steps(9, end) infinite;
  will-change: background-position;
}
@keyframes torchFlame {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -288px 0; /* Only move 9 steps, not 10 full widths Why -288px?
    the sprite sheet is 10 frames × 32px = 320px total width.
    But for steps(9), the animation moves from frame 0 to frame 9 — so only 9 × 32 = 288px */
  }
}

.typewriterTxt {
  color: var(--lightTxt);
  font-size: 1.025rem;
  font-family: 'NintendoNES', monospace;
  padding: .5rem;
  margin-right: 1.25rem;
  word-spacing: -.3ch;
}

.blinking-cursor {
  animation: blink 1s step-start infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.torchFlameContainer {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}

.torchLeft {
  position: absolute;
  left: 1rem;
}
.torchRight {
   position: absolute;
   left: 25.5rem
}